<ion-view title="AdminLibrary" hide-nav-bar="false" id="page2">
  <ion-content padding="true" style="background: url(img/0oaxcfxQT0Wd8yvg7y7R_literature-3033196.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="tabsController.addBooks()" id="adminLibrary-button8" class="button button-positive button-block icon ion-android-add-circle"> Add Books</a>
    <ion-list id="adminLibrary-list2">
      <ion-item class="item-thumbnail-left" id="adminLibrary-list-item3" ui-sref="tabsController.updateBook()">
        <h2>Book Name</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
