<ion-view title="AdminProfile" hide-nav-bar="false" id="page4">
  <ion-content padding="true" style="background: url(img/2Ktc2NiSTEWpiWhf8vqi_phone-1052023_1920.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="adminProfile-list4">
      <ion-item class="item-thumbnail-left" id="adminProfile-list-item5">
        <h2>Name</h2>
      </ion-item>
    </ion-list>
    <ion-list id="adminProfile-list5">
      <ion-item id="adminProfile-list-item9">ID</ion-item>
      <ion-item id="adminProfile-list-item10">Email</ion-item>
    </ion-list>
    <div class="spacer" style="height: 100px;"></div>
    <button id="adminProfile-button6" class="button button-positive button-block icon ion-log-out"> Logout</button>
    <button id="adminProfile-button7" class="button button-positive button-block icon ion-key"> Forget Password</button>
  </ion-content>
</ion-view>
