<ion-view title="Admin Library" hide-nav-bar="false" id="adminLibrary">
  <ion-content padding="true" style="background: url(img/0oaxcfxQT0Wd8yvg7y7R_literature-3033196.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="addBooks()" id="adminLibrary-button8" class="button button-positive button-block icon ion-android-add-circle"> Add Books</a>
    <form id="studLibrary-form3" class="list">
      <label class="item item-input" id="studLibrary-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="search here">
      </label>
    </form>
    <div class="card card-inverse card-primary mb-3" ng-repeat="Book in Books">
  <h3 class="card-header">{{Book.name}}</h3>
  <div class="card-block">
     <div class="row">
       <div class="col-md-1 col-sm-1">
         <img height="200px" width="200px" class="img-thumbnail"  src="img/bookParticles.jpg">
       </div>
       <div class="col-md-11 col-sm-11">
         <h4 class="card-title">BookId: <b>{{Book.book_id}}</b></h4>
    <p class="card-text">Author: <b>{{Book.author}}</b></p>
    <a href="#" class="btn btn-primary  btn-lg" ui-sref="adminTabsController.updateBook({bookid: Book._id})" >View Book</a>
       </div>
     </div>
  </div>
</div>
  </ion-content>
</ion-view>
