<ion-view title="Book Borrowed" hide-nav-bar="false" id="page9">
  <ion-content padding="true" style="background: url(img/Dp8qFChWRcmDmyi1rLkr_money-2696229_1920.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <ion-list id="bookBorrowed-list10">
      <ion-item id="bookBorrowed-list-item23">Item 1</ion-item>
      <ion-item id="bookBorrowed-list-item24">Item 2</ion-item>
      <ion-item id="bookBorrowed-list-item25">Item 3</ion-item>
    </ion-list>
    <div id="bookBorrowed-button-bar1" class="button-bar">
      <button id="bookBorrowed-button20" class="button button-positive button-block icon ion-android-done-all"> Approve </button>
      <a ui-sref="tabsController.borrowingBooks()" id="bookBorrowed-button21" class="button button-positive button-block icon ion-ios-close-outline"> Deny</a>
    </div>
  </ion-content>
</ion-view>
