<ion-view title="Borrowed Books" hide-nav-bar="true" id="page3">
  <ion-content padding="true" style="background: url(img/L8FF12owRDGoHwSOuvud_blue-and-white-background-free-vector-1531.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-list id="borrowedBooks-list12">
      <ion-item class="item-thumbnail-left" id="borrowedBooks-list-item12" ui-sref="tabsController.myBookDetails()">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
