<ion-view title="Borrowed Books" hide-nav-bar="true" id="page3">
  <ion-content padding="true" style="background: url(img/L8FF12owRDGoHwSOuvud_blue-and-white-background-free-vector-1531.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-list id="borrowedBooks-list4">
      <ion-item class="item-thumbnail-left" id="borrowedBooks-list-item9" ui-sref="tabsController.bookDetails()">
        <img src="img/PuvOoPkxSeOKaCUK0rdF_PetersonComputerNetwork750Cover.jpg">
        <h2>computer network</h2>
        <p>Author: peterson</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="borrowedBooks-list8">
      <ion-item class="item-thumbnail-left" id="borrowedBooks-list-item20" ui-sref="tabsController.dsp()">
        <img src="img/dFbJ0PDGRBGV0XR4Hx8k_100_1206357642.jpg">
        <h2>Digital signal processing</h2>
        <p>Author:kesav</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
