<ion-view title="Book-Details" id="page20">
  <ion-content padding="true" class="has-header">
    <ion-list id="bookDetails2-list9">
      <ion-item class="item-thumbnail-left" id="bookDetails2-list-item10">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <div id="bookDetails2-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <div id="bookDetails2-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <div id="bookDetails2-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 75px;"></div>
    <div id="bookDetails2-button-bar16" class="button-bar"></div>
    <button id="bookDetails2-button36" style="border-radius:17px 17px 17px 17px;" class="button button-positive button-block icon ion-ios-cart"> TakeBook</button>
    <button id="bookDetails2-button34" style="border-radius:17px 17px 17px 17px;" class="button button-assertive button-block icon ion-ios-heart"> WishList </button>
  </ion-content>
</ion-view>
