<ion-view title="Book Details" hide-nav-bar="false" id="page20">
  <ion-content padding="true" class="has-header">

    <ion-card>
  <img class="img-thumbnail"  src="img/Teady.jpg">
  <ion-card-content>
    <div style="font-size:15px;">
      <ul class="list-group">
            <li class="list-group-item">  <h2><b>{{book.Name}}</b></h2></li>
            <li class="list-group-item">  <p>Book-Id: <b>{{book.Id}}</b></p></li>
            <li class="list-group-item"><p>Author-Name: <b>{{book.AuthorName}}</b></p></li>
            <li class="list-group-item"><p>Department: <b>{{book.Department}}</b></p></li>
            <li class="list-group-item"><p class="display-6 ">Availability: <b>{{book.Availability}}</b></p></li>

        </ul>
        <button id="bookDetails2-button36" style="border-radius:17px 17px 17px 17px;" class="button button-positive button-block icon ion-ios-cart"> TakeBook</button>
        <button ng-click="borrow(book.Id)" id="bookDetails2-button34" style="border-radius:17px 17px 17px 17px;" class="button button-positive button-block icon ion-ios-heart"> WishList </button>
        <button ui-sref="tabsController.studLibrary()" id="bookDetails2-button34" style="border-radius:17px 17px 17px 17px;" class="button button-positive button-block icon ion-ios-close"> Cancel</button>
      </div>
          </ion-card-content>
        </ion-card>

  </ion-content>
</ion-view>
