<ion-view title="book details" hide-nav-bar="true" id="page12">
  <ion-content padding="true" style="background: url(img/sujE5cGGQtiLaKHm0OZ1_blue-and-white-background-free-vector-1531.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div id="bookDetails-button-bar1" class="button-bar"></div>
    <div id="bookDetails-button-bar2" class="button-bar"></div>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="bookDetails-list11">
      <ion-item class="item-thumbnail-left" id="bookDetails-list-item11">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <div id="bookDetails-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <div id="bookDetails-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <div id="bookDetails-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 73px;"></div>
    <button id="bookDetails-button15" style="border-radius:20px 20px 20px 20px;" class="button button-balanced button-block icon ion-ios-book-outline"> Return</button>
    <a ui-sref="tabsController.borrowedBooks()" id="bookDetails-button17" style="border-radius:20px 20px 20px 20px;" class="button button-assertive button-block icon ion-ios-close"> Cancel</a>
    <button id="bookDetails-button16" style="border-radius:20px 20px 20px 20px;" class="button button-positive button-block icon ion-android-add-circle"> Extend</button>
  </ion-content>
</ion-view>
