<ion-view title="Book Details" hide-nav-bar="false" id="page12">
  <ion-content padding="true" style="background: url(img/bookItems.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">

    <ion-card>
  <img class="img-thumbnail"  src="img/Teady.jpg">
  <ion-card-content>
    <div style="font-size:15px;">
      <ul class="list-group">
            <li class="list-group-item">  <h2><b>book.Name</b></h2></li>
            <li class="list-group-item">  <p>Book-Id: <b>book.Id</b></p></li>
            <li class="list-group-item"><p>Expire on <b>20/2/18</b></p></li>
            <li class="list-group-item"><p>You have 18 days more</p></li>

        </ul>
      </div>
          </ion-card-content>
        </ion-card>

    <button id="bookDetails-button15" style="border-radius:20px 20px 20px 20px;" class="button button-positive button-block icon ion-ios-book-outline"> Return</button>
    <a ui-sref="tabsController.borrowedBooks()" id="bookDetails-button17" style="border-radius:20px 20px 20px 20px;" class="button button-positive button-block icon ion-ios-close"> Cancel</a>
    <button id="bookDetails-button16" style="border-radius:20px 20px 20px 20px;" class="button button-positive button-block icon ion-android-add-circle"> Extend</button>
  </ion-content>
</ion-view>
