<ion-view title="stud Library" hide-nav-bar="true" id="page2">
  <ion-content padding="true" style="background: url(img/UMJ9Um8QS3OO3RwQrQ9Y_blue-and-white-background-free-vector-1531.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="studLibrary-form3" class="list">
      <label class="item item-input" id="studLibrary-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="search here">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 7.96875px;"></div>
    <ion-list id="studLibrary-list9">
      <ion-item class="item-thumbnail-left" id="studLibrary-list-item15" ui-sref="tabsController.bookDetails()">
        <img src="img/wC79XvJSkmoPvTbjxWHK_PetersonComputerNetwork750Cover.jpg">
        <h2>computer networks</h2>
        <p>Author: Peterson</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="studLibrary-list-item17" ui-sref="book2()">
        <img src="img/INvXr3gGSomL2OkhEyDs_100_1206357642.jpg">
        <h2>digital signal processing</h2>
        <p>Author: kesav</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 7.96875px;"></div>
    <div class="spacer" style="width: 300px; height: 7.96875px;"></div>
    <ion-list id="studLibrary-list12">
      <ion-item class="item-thumbnail-left" id="studLibrary-list-item19" ui-sref="tabsController.book3()">
        <img src="img/k946AfcsTUKJyxRELfpb_22b5e01bce7259687e994531e633b7ab.jpg">
        <h2>fourier transform</h2>
        <p>Author: Peterson</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 7.96875px;"></div>
    <ion-list id="studLibrary-list13">
      <ion-item class="item-thumbnail-left" id="studLibrary-list-item16" ui-sref="tabsController.book4()">
        <img src="img/eyh9oRM0SRmE72V8fMNt_download.jpg">
        <h2>computer graphics</h2>
        <p>Authour: jhon</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 7.96875px;"></div>
  </ion-content>
</ion-view>
