<ion-view title="Update book" hide-nav-bar="false" id="page6">
  <ion-content padding="true" style="background: url(img/oKI9vMo6RWJaRZhFaYUx_literature-3033196.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="updateBook-list7">
      <ion-item class="item-thumbnail-left" id="updateBook-list-item13">
        <h2>Name</h2>
      </ion-item>
      <ion-item id="updateBook-list-item14">Book id</ion-item>
      <ion-item id="updateBook-list-item15">Authour</ion-item>
      <ion-item id="updateBook-list-item17">Department</ion-item>
      <ion-item id="updateBook-list-item16">Availability</ion-item>
    </ion-list>
    <button id="updateBook-button14" class="button button-positive button-block icon ion-android-upload"> Update</button>
  </ion-content>
</ion-view>
